@use 'styles/base' as base;
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 5vw {
        bottom: 2.25vw;
    }
    &__logo {
        margin: 0;
        color: base.$primary-color;
        font: {
            family: base.$primary-font;
            weight: 500;
            size: 130%;
        }
    }
}