.gallery {
    display: block;
    width: auto;
    height: 50vh;
    margin: 0vw 5vw;
    background-image: url("https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}