.button {
    padding: 1vw 2vw;
    color: rgb(255, 255, 255);
    border: .5px solid rgb(26, 30, 40);
    background-color: rgb(26, 30, 40);
    font-family: 'Poppins', sans-serif;
    font-size: 105%;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover {
    color: rgb(26, 30, 40);
    background-color: transparent;
}
.button:focus {
    outline: 0;
}