@use '../../../../../../styles/base' as base;
.filter-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 1vw 1.5vw;
    background-color: rgb(242, 242, 242);
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
        .header__title {
            margin: 0;
            color: base.$primary-color;
            font-family: base.$primary-font;
            font-weight: 500;
            font-size: 115%;
            text-align: left;
        }
        .header__toggle {
            margin: 0;
            padding: 0;
            color: base.$primary-color;
            border: none;
            background-color: transparent;
            font-family: base.$primary-font;
            font-weight: 500;
            font-size: 130%;
            cursor: pointer;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        transition: 0.75s;
        .form__button {
            padding: 1vw 2vw;
            color: rgb(255, 255, 255);
            border: .5px solid rgb(26, 30, 40);
            background-color: rgb(26, 30, 40);
            font-family: 'Poppins', sans-serif;
            font-size: 105%;
            font-weight: 300;
            cursor: pointer;
            transition: 0.5s;
        }
        .form__button:hover {
            color: rgb(26, 30, 40);
            background-color: transparent;
        }
        .form__button:focus {
            outline: 0;
        }
    }
}