@use 'styles/base' as base;
.filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 1.5vw;        
    &__title {
        margin: 0;
        color: base.$primary-color;
        text-align: left;
        font: {
            family: base.$primary-font;
            size: 115%;
            weight: 500;
        }
    }
    &__toggle {
        margin: 0;
        padding: 0;
        color: base.$primary-color;
        background-color: transparent;
        cursor: pointer;
        font: {
            family: base.$primary-font;
            size: 130%;
            weight: 500;
        }
    }
}
.filter-form {
    display: flex;
    flex-direction: column;
    .button-group {
        display: flex;
        flex-direction: row;
        margin: .75vw 1.5vw;
        .filter-form__button {
            padding: .75vw 1.5vw;
            color: base.$primary-bg-color;
            border: 1px solid base.$primary-color;
            background-color: base.$primary-color;
            cursor: pointer;
            width: 100%;
            transition: 0.5s;
            font: {
                family: base.$primary-font;
                size: 105%;
                weight: 300;
            }
            &:hover {
                color: base.$primary-color;
                background-color: transparent;
            }
            &:focus { outline: 0; }
            &:first-of-type { margin-right: .75vw; }
            &:last-of-type { 
                margin-left: .75vw;
                background-color: transparent;
                color: base.$primary-color;
                &:hover {
                    background-color: base.$primary-color;
                    color: base.$primary-bg-color;
                }
            }
        }
    }
}
.filter-wrapper {
    background-color: rgb(242, 242, 242);
    margin: 0 0 2vw 0;
}
@media only screen and (min-width: 0px) and (max-width: 576.99px) {

}

@media only screen and (min-width: 577px) and (max-width: 768.99px) { 

}
@media only screen and (max-width: 992px) { 

}

@media only screen and (max-width: 1200px) { 

}