@use 'styles/base' as base;
.filter-categories {
    list-style-type: none;
    margin: .75vw 1.5vw .75vw 0;
    &__category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .category-name, .category-count {
            margin: .5vw 0;
            color: rgb(150, 150, 150);
            font: {
                family: base.$primary-font;
                size: 105%;
                weight: 400;   
            }
            transition: 0.5s;
            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    &__category:hover {
        .category-name, .category-count { color: base.$primary-color; }
        cursor: pointer;
    }
    .active { color: base.$primary-color; }
}