@use 'styles/base' as base;
.filter-fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: none;
    margin: .75vw 1.5vw;
    padding: 0;
    font: {
        family: base.$primary-font;
        weight: 300;
    }
    &__title {
        padding: 0;
        margin-bottom: 0.5vw;
        font: {
            family: base.$primary-font;
            size: 105%;
            weight: 400;
        }
    } 
    .filter-label {
        display: flex;
        align-items: center;
        font: {
            family: base.$primary-font;
            size: 95%;
        }
        .filter-input {
            display: block;
        }
        .filter-input--checkbox {
            margin-right: 1vw;
            border: 1px solid base.$primary-color {
                radius: none;
            }
        }  
    }
}
.filter-by-category {
    display: flex;
    flex-direction: column;
}