@use 'styles/base' as base;
.cart-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 {
        top: auto;
    };
    &__title {
        color: base.$primary-color;  
        margin: 0 {
            top: 2.5vw;
        };
        font: {
            family: base.$primary-font;
            size: 110%;
            weight: 500;
        }
    }
    &__total {
        color: base.$primary-color; 
        margin: 0 {
            top: 2.5vw;
        };
        font: {
            family: base.$primary-font;
            size: 110%;
            weight: 500;
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 576.99px) {
    .cart-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 {
            top: auto;
        };
        &__title {
            color: base.$primary-color;  
            margin: 0 {
                top: 2vw;
            };
            font: {
                family: base.$primary-font;
                size: 95%;
                weight: 500;
            }
        }
        &__total {
            color: base.$primary-color; 
            margin: 0 {
                top: 2.5vw;
            };
            font: {
                family: base.$primary-font;
                size: 95%;
                weight: 500;
            }
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768.99px) {

}
@media only screen and (min-width: 769px) and(max-width: 1024.99px) { 

}
@media only screen and (min-width: 1025px) and (max-width: 1366.99px) { 

}