@use 'styles/base' as base;
.card {
    background-color: base.$primary-bg-color;
    border: 2.5px solid  rgb(240, 240, 240);
    width: calc(100%/3 - 2vw);
    cursor: pointer;
    transition: 0.5s;
    margin: 0 {
        left: 2vw;
        bottom: 2vw;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: .75em;
        &__title {
            margin: 0;
            color: base.$primary-color;
            font: {
                family: base.$primary-font;
                size: 115%;
                weight: 400;
            }
        }
        &__price {
            color: base.$primary-color;
            margin: 0 {
                top: .75em;
            }
            font: {
                family: base.$primary-font;
                size: 105%;
                weight: 300;
            }
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 576.99px) {
    .card {
        width: 100%;
        margin: 0 {
            top: 1.5em;
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768.99px) {

}
@media only screen and (min-width: 769px) and(max-width: 992.99px) { 

}

@media only screen and (min-width: 993px) and (max-width: 1200px) { 

}