@use 'styles/base' as base;
.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    &__item {
        color: base.$primary-color;
        padding: 0 .5vw;
        font: {
            family: base.$primary-font;
            size: 130%;
            weight: 400;
        }
    }
    &__item--next {
        padding-right: 0;
        cursor: pointer;
    }
    &__item--prev {
        padding-left: 0;
        cursor: pointer;
    }
}