@use 'styles/base' as base;
.filter-by-price__separator {
    margin: 0;
    padding: 0 1vw;
    color: base.$primary-color;
    font: {
        family: base.$primary-font;
        weight: 400;
    }
}
.filter-input--number {
    display: block;
    width: 75%;
    background-color: transparent;
    padding: .5vw;
    border: 1px solid rgb(200, 200, 200) {
        radius: 0;
    }
    font: {
        family: base.$primary-font;
        weight: 300;
    }
}