.navbar__toggle {
    font-size: 130%;
    color: rgb(26, 30, 40);
}
.sidebar {
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    height: 100vh;
    width: 0%;
    background-color: rgb(242, 242, 242);
    text-align: right;
    transition: width 0.5s;
    padding: 5vw;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .heading__title {
        font-family: 'Poppins', sans-serif;
        font-size: 115%;
        font-weight: 500;
        color: rgb(26, 30, 40);
    }
}
/*.sidebar--show {
    width: calc(100vw/3);
    transition: width 0.5s
}
.sidebar--hide {
    width: 0%;
    transition: width 0.5s
}*/