.sidebar {
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    height: 100vh;
    width: 0%;
    background-color: rgb(242, 242, 242);
    text-align: right;
    transition: width 0.5s;
    padding: 5vw;
}
/*.sidebar--show {
    width: calc(100vw/3);
    transition: width 0.5s
}
.sidebar--hide {
    width: 0%;
    transition: width 0.5s
}*/