html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}
a:link {
    text-decoration: none;
}
button:focus {
    outline: 0
}
* {
    letter-spacing: .5px;
}
body {
    transition: .5s;
}