.navbar {
    width: 100%;
    padding: 5vw;
    padding-bottom: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navbar__logo {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 115%;
        color: rgb(26, 30, 40);
    }
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        .menu__item {
            font-size: 100%;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: rgb(26, 30, 40);
            margin: 0vw 1.75vw;
            position: relative;
            cursor: pointer;
        }
        .menu__item:last-of-type {
            margin-right: 0;
            color: rgb(255, 255, 255);
            padding: .75vw 1.5vw;
            border: 1px solid rgb(26, 30, 40);
            background-color: rgb(26, 30, 40);
            cursor: pointer;
            transition: 0.5s;
        }
        .menu__item:last-of-type:hover {
            background-color: rgb(255, 255, 255);
            color:rgb(26, 30, 40);
        }
    }
}