@use 'styles/base' as base;
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item {
        margin: 0 1.5vw;
        display: block;
        cursor: pointer;
        color: base.$primary-color;
        font: {
            family: base.$primary-font;
            size: 110%;
            weight: 400;
        }
    }
    &__item:last-of-type {
        margin-right: 0;
    }
    &--desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &--mobile {
        display: flex;
        flex-direction: column;
        text-align: right;
        .menu__item {
            margin: 3vw 0;
        }
    }
}