@use 'styles/base' as base;
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item {
        margin: 0 1.75vw;
        display: block;
        cursor: pointer;
        color: base.$primary-color;
        font: {
            family: base.$primary-font;
            size: 105%;
            weight: 400;
        }
    }
    &__item--cta {
        color: base.$primary-bg-color;
        padding: .75vw 1.5vw;
        border: 1px solid base.$primary-color;
        background-color: base.$primary-color;
        cursor: pointer;
        transition: 0.5s;
        margin-right: 0;
        &:hover {
            background-color: base.$primary-bg-color;
            color: base.$primary-color;
        }
    }
}
.menu--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu--mobile {
    display: flex;
    flex-direction: column;
    text-align: right;
    .menu__item {
        margin: 0;
    }
}