@use 'styles/base' as base;
.cart {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: rgb(240, 240, 240);
    min-height: 50vh;
    padding: 2.5vw;
    .cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        border: 2px solid rgb(228, 228, 228);
        margin-top: 1.5vw;
        &:first-of-type {
            margin-top: 0;
        }
        .preview {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-basis: 50%;
            &__img {
                height: 10vh;
                margin-right: 1.5vw
            }
            .preview-details {
                &__price {
                    color: base.$primary-color;  
                    font: {
                        family: base.$primary-font;
                        size: 90%;
                        weight: 500;
                    }
                    margin: 0 {
                        top: .5vw;
                    };
                }
                &__title {
                    margin: 0;
                    color: rgb(150, 150, 150);
                    font: {
                        family: base.$primary-font;
                        size: 90%;
                        weight: 400;
                    }
                }
            }
        }
        .quantity {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
                margin: 0;
                color: rgb(150, 150, 150);
                font: {
                    family: base.$primary-font;
                    size: 90%;
                    weight: 400;
                }
            }
            .quantity-control {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: .5vw;
                &__count {
                    margin: 0;
                    color: base.$primary-color;  
                    font: {
                        family: base.$primary-font;
                        size: 90%;
                        weight: 500;
                    }
                }
                &__dec, &__inc {
                    margin: 0 1.5vw;
                    color: base.$primary-color;
                    font-size: 90%;
                    cursor: pointer;
                    transition: .5s;
                    &:hover {
                        color: rgb(150, 150, 150);
                    }       
                }
                &__dec {margin-left: 0};
                &__inc {margin-right: 0};
            }
        }
        &__delete {
            color: base.$primary-color;
            font-size: 125%;
            cursor: pointer;
            transition: .5s;
            margin: 0 {
                right: 1.5vw;
            };
            &:hover {
                color: rgb(150, 150, 150);
            }
        }
    }
    .cart-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: rgb(150, 150, 150);
        font: {
            family: base.$primary-font;
            size: 110%;
            weight: 400;
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 576.99px) {
    .cart {
        width: 100%;
        flex-basis: 100%;
        padding: 3vw;
        .cart-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
            margin-top: 3vw;
            .preview {
                display: flex;
                flex-direction: row;
                align-items: center;
                // flex-basis: 50%;
                &__img {
                    height: 7.5vh;
                    width: 10vh;
                    margin-right: 3vw
                }
                .preview-details {
                    &__price {
                        font-size: 80%;
                        margin: 0 {
                            top: .75vw;
                        };
                    }
                    &__title {
                        font-size: 80%;
                    }
                }
            }
            .quantity {
                &__title {
                    font-size: 80%;
                }
                .quantity-control {
                    margin-top: .75vw;
                    &__count {
                        font-size: 80%;
                    }
                    &__dec, &__inc {
                        margin: 0 3vw;
                        font-size: 80%; 
                    }
                }
            }
            &__delete {
                font-size: 95%;
                margin: 0 {
                    right: 3vw;
                }
            }
        }
        .cart-empty {
            font-size: 110%;
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768.99px) {
    .cart {
        width: 100%;
        flex-basis: 100%;
        padding: 3vw;
        .cart-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
            margin-top: 3vw;
            .preview {
                display: flex;
                flex-direction: row;
                align-items: center;
                // flex-basis: 50%;
                &__img {
                    height: 7.5vh;
                    width: 10vh;
                    margin-right: 3vw
                }
                .preview-details {
                    &__price {
                        font-size: 90%;
                        margin: 0 {
                            top: .75vw;
                        };
                    }
                    &__title {
                        font-size: 90%;
                    }
                }
            }
            .quantity {
                &__title {
                    font-size: 90%;
                }
                .quantity-control {
                    margin-top: .75vw;
                    &__count {
                        font-size: 90%;
                    }
                    &__dec, &__inc {
                        margin: 0 3vw;
                        font-size: 90%; 
                    }
                }
            }
            &__delete {
                font-size: 100%;
                margin: 0 {
                    right: 3vw;
                }
            }
        }
        .cart-empty {
            font-size: 110%;
        }
    }
}
@media only screen and (min-width: 769px) and(max-width: 1024.99px) { 

}
@media only screen and (min-width: 1025px) and (max-width: 1366.99px) { 

}