@use 'styles/base' as base;
.product-catalog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5vw;
    min-height: 40vh;
    .catalog-control__count {
        width: 100%;
        margin: 0 {
            bottom: 2.5vw;
        }
        color: base.$primary-color;
            text-align: center;
            font: {
                family: base.$primary-font;
                size: 110%;
                weight: 500;
            }
    }
}
@media only screen and (min-width: 0px) and (max-width: 576.99px) {
    .product-catalog {
        padding: 0 7vw;
        flex-direction: column;
        .catalog-control {
            margin-bottom: 7vw;
            &__title {
                font-size: 110%;
            }
            &__count {
                margin: 0;
                font-size: 100%;
            }
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768.99px) {
    .product-catalog {
        padding: 0 6vw;
        .catalog-control {
            margin-bottom: 3vw;
            &__title {
                font-size: 120%;
            }
            &__count {
                margin: 0;
                font-size: 110%;
            }
        }
    }
}
// @media only screen and (min-width: 769px) and(max-width: 1024.99px) { 
//     .product-catalog {
//         margin: 0 7vw;
//         .catalog-control {
//             margin-bottom: 3vw;
//     }
// }

@media only screen and (min-width: 1025px) and (max-width: 1366.99px) { 
    .product-catalog {
        .catalog-control {
            margin-bottom: 2.5vw;
            &__title {
                font-size: 130%;
            }
            // &__count {
            //     font-size: 115%;
            // }
        }
    }
}